<form action="/posts/comment/:id/create" method="post">
	<div>Author: <input type="author" name="author" /></div>
	<div>Body: <textarea name="body" cols="60" rows="10"></textarea></div>
	<button type="submit">Create Comment</button>
</form>